<%# アカウント登録画面でのウェルカムメッセージ %>
<% unless signed_in? %> 
<div class="row-fluid">
  <div class="well span9" >

<p>ようこそPhraseeへ！</p>
<p>これからあなた用のページをつくります。</p>
<p>簡単なご本人確認→アカウント（自己紹介など[任意]）設定をしますので、5分程度お付き合いください。</p>

</div>
</div>
<% end %>