<%# アカウント登録画面でのウェルカムメッセージ %>
<% unless signed_in? %> 
<div class="row-fluid">
  <div class="well span9" >
ようこそPhraseeへ！<br /><br />
あなたが覚えた英語フレーズを書き残して、"マイフレーズ集"をつくってみませんか？<br />
数年後に見返すと、「こんな言い回しあったな〜」と思い出に浸りながら楽しめますよ。<br />
また、ネット上に情報を残しておくことで、いつか世界のどこかで誰かの助けになるかもしれません。<br />
カンタンなフレーズでも、知らない人からすればとっても役立つ情報です。<br />
友達に「こんな言い回しがあるよ」と教えてあげるように、ぜひ気軽に書き込んでみてください。<br /><br />
まずは以下からあなた用のページを作成してみましょう。
  </div>
</div>
<% end %>