<div class="thanks_for_goiken muted well well-cancel-color">
  <p>ご意見ありがとうございます。</p>
  <p>今後のサービス改善の参考情報にいたします。</p>
  <p>より使いやすいサービスを目指していきますので、引き続きよろしくお願いいたします。</p>
</div>
<style type="text/css">
.thanks_for_goiken{
  padding:20px auto;
}
</style>