<div class="controls goiken_box">
  <label class="control-label">ご意見送信フォーム</label>
  <textarea class="input-block-level goiken_text" rows="6"></textarea>
  <a class="btn post_goiken_button">サイト運営者へ意見を送る</a>
  <div id="otoiawase_link">
    <%= link_to "使い方についてのお問い合わせはこちら", help_path %>
  </div>
</div>