<% provide(:title, "英語・英会話フレーズ | Phrasee | フレーズ編集") %>

  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
    <li class="active">フレーズ編集</li>
  </ol>

  <!-- page header -->
  <div class="page-header">
    <h1>フレーズ編集</h1>
  </div>

  <%= render 'phrase_form', { url_path: phrase_path(@phrase), http_req: :put } %>

  <p>&nbsp;</p>
  <%= render 'shared/top-page_link' %>