<% provide(:title, "フレーズ編集") %>
<% provide(:description, "このページから英語フレーズを編集できます。") %>

  <div class="row-fluid">
    <%# サイトメインタイトル %>
    <%= render 'shared/main-title' %>
  </div>

  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
    <li class="active">フレーズ編集</li>
  </ol>

  <!-- page header -->
  <div class="page-header">
    <h2>フレーズ編集</h2>
  </div>

  <%= render 'phrase_form', { url_path: phrase_path(@phrase), http_req: :put } %>

  <p>&nbsp;</p>
  <%= render 'shared/top-page_link' %>