<% provide(:title, "新着フレーズ") %>

  <!-- page header -->
  <div class="page-header">
    <h1>新着フレーズ</h1>
  </div>

<% if @phrases.nil? %>
  新着のフレーズはありません。
<% else %>
  <ul class="ph_phrases_newcomer unstyled">
    <% @phrases.each do |phrase| %>
      <li class="ph_phrase_item">
        <%= link_to phrase.japanese, phrase %> <small class="muted "><%= phrase.updated_at.to_s %></small>
      </li>
    <% end %>
  </ul>

  <%= render 'shared/pagination', object: @phrases %>
<% end %>

<%# if admin? %>
  <%#= link_to 'Edit', edit_phrase_path(phrase) %>
  <%#= link_to 'Destroy', phrase, method: :delete, data: { confirm: 'Are you sure?' } %>
<%# end %>


<%= link_to 'フレーズをのせる', new_phrase_path %>
