<% provide(:title, "フレーズ投稿") %>

  <!-- page header -->
  <div class="page-header">
    <h1>フレーズ投稿</h1>
    使える言い回しや好きな映画のセリフなど、あなたが知っているフレーズを教えてください。
  </div>

  <%= render 'phrase_form', { url_path: phrases_path(@phrase), http_req: :post } %>