<% provide(:title, "英語・英会話フレーズ | Phrasee | 新規フレーズ投稿") %>

  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
    <li class="active">新規フレーズ投稿</li>
  </ol>

  <!-- page header -->
  <div class="page-header">
    <h1>新規フレーズ投稿</h1>
    使える言い回しや好きな映画のセリフなど、あなたが知っているフレーズを教えてください。
  </div>

  <%= render 'phrase_form', { url_path: phrases_path(@phrase), http_req: :post } %>

  <p>&nbsp;</p>
  <p><%= link_to "トップページへ", root_path %></p>