<% provide(:title, "新規フレーズ投稿 | ワンフレーズで始めるミニ英語ブログ『Phrasee』") %>

  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
    <li class="active">新規フレーズ投稿</li>
  </ol>

  <!-- page header -->
  <div class="page-header">
    <h1>新規フレーズ投稿</h1>
    使える言い回しや好きな映画のセリフなど、あなたが知っている英語フレーズを教えてください。
  </div>

  <%= render 'phrase_form', { url_path: phrases_path(@phrase), http_req: :post } %>

  <p>&nbsp;</p>
  <%= render 'shared/top-page_link' %>