<% provide(:title, 'メンバー一覧') %>

  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
    <li class="active">メンバー</li>
  </ol>

<h3>メンバー一覧</h3>

<ul class="phrases_list unstyled">
  <% @users.each do |user| %>
    <li class="phrase">
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>

<%= will_paginate @users, :previous_label => '前へ', :next_label => '次へ' %>