
<p class="lead">Phraseeが目指しているもの</p>
<div class="row-fluid">
  <div class="well ph_phrase_box span12" style="text-align:left;"
 >
<p>Phraseeは「英語を喜びに。」をテーマに運営されているサービスです。</p>
<p>あなたが英語に興味を持ち（または必要に迫られ）覚えた英語表現の数々。それらが日の目を見る前に忘れられてしまうこと、せっかく得た知識がただ消えていくこと、これはあまりにもったいないことだと私たちは考えています。</p>
<p>もしあなたが時間をとってブログ・ホームページを作れるのであれば、そこに覚えたことを記録しておくという手もありますが、これをずっと続けるのは中々大変ですよね。</p>
<p>日々忙しくて時間が無い・もっと手軽にやりたい人はPhraseeを使って、是非知っている英語の言い回し・英会話フレーズを書き残してみてください。</p>
<p>数年後に見返すと、「こんな言い回しあったな〜」と思い出に浸りながら楽しめますよ。</p>
<p>また、ネット上に情報を残しておくことで、いつか世界のどこかで誰かの助けになるかもしれません。</p>
<p>カンタンなフレーズでも、知らない人からすればとっても役立つ情報です。</p>
<p>友達に「こんな言い回しがあるよ」と教えてあげるように、ぜひ気軽に書き込んでみてください。</p>
<p>あなたが覚えた英語フレーズの数々が（たとえあなた自身が使わなくても）他の誰かの喜びにつながっていく、そんな世界を実現していくことをPhraseeは目指しています。</p>
  </div>
</div>
