<%# 会員登録促進メッセージ %>
<div class="row-fluid">
  <div class="well-box span12" style="text-align:left;"
 >

<p>当サイトは、あなたがせっかく覚えた英語フレーズが時間の経過とともに忘れられてしまう、というのはあまりにもったいないことだと考えています。</p>
<p>じっくり時間をとってブログ・ホームページを作れる人はそちらを、時間の無い人・もっと手軽にやりたい人は当サイトPhraseeを使って、是非知っている英語の言い回し・英会話フレーズを書き残してみてください。</p>
<p>数年後に見返すと、「こんな言い回しあったな〜」と思い出に浸りながら楽しめますよ。</p>

<p>また、ネット上に情報を残しておくことで、いつか世界のどこかで誰かの助けになるかもしれません。</p>
<p>カンタンなフレーズでも、知らない人からすればとっても役立つ情報です。</p>
<p>友達に「こんな言い回しがあるよ」と教えてあげるように、ぜひ気軽に書き込んでみてくださいね。</p>
<p></p>

  </div>
</div>
