<%# 会員登録促進メッセージ %>
<div class="row-fluid">
  <div class="well ph_phrase_box span12" style="text-align:left;"
 >

<p>ようこそPhraseeへ！</p>
<br />
<p>Phraseeは<strong>1回1フレーズを書くだけのシンプルなミニ英語ブログ</strong>です。</p>
<br />
<p>使い方は至ってシンプル。</p>
<p>あなたの好きな英語フレーズとそれにまつわるエピソードやひとくちメモを書くだけで、簡単にひとつの記事が完成します。</p>

<ul class="unstyled">
  <li style="list-style-type: none;" class="">「せっかく覚えた英語フレーズを忘れないよう記録しておきたい」</li>
  <li style="list-style-type: none;" class="">「英語を使う機会が無い・アウトプットする方法がわからない」</li>
  <li style="list-style-type: none;" class="">「英語ブログは書き方がわからない・更新し続けるのが大変」</li>
</ul>

<p>そんな人たちが無理なく続けるためのツールです。</p>

  </div>
</div>
