
  <p>&nbsp;</p>

  <div class="well" style="text-align:left;">
  <h4>【 Phraseeを使っている人たち 】</h4>
  <p class="">　こんな人たちが使ってます。</p>
  <%= render 'shared/members', object: @users %>
  <%= link_to "全てのメンバーを見る", users_path %>

  <%= render 'shared/start-phrasee_link' %>
  </div>