<%#= image_tag("icons/100x100.gif", { alt:"phrasee-icon", class:"img-polaroid", size:"100x100" }) %>
<div class="logo-box-outside img-polaroid ">
  <div class="logo-box-inside ">
    <%= link_to root_path do %>
    <span class="logo-font">Phrasee</span>
    <% end %>
  </div>
</div>
