
      <div class="span6">
        <h1 class="main-title">
        <%= link_to root_path, { title:"みんなでつくる英語フレーズ集『Phrasee』 | ワンフレーズで書くミニ英語ブログ"} do %>
        <%= image_tag("icons/apple-touch-icon-precomposed.png", { alt:"英語フレーズ投稿サイト『Phrasee』", class:"logo-icon", size:"36x36" }) %>
        <span>みんなでつくる英語フレーズ集『Phrasee』</span>
        <% end %>
        </h1>
  <%# アカウント登録へのリンク %>
  <%= render 'shared/pr' %>
      </div>
