<%# アカウント登録へのリンク %>
<% unless signed_in? %> 
<div class="row-fluid">
  <div class="alert alert-info span9" >
    <%= link_to guide_path, title:"1回1フレーズを書くだけのシンプルなミニ英語ブログ" do %>
    <i class="icon-book "></i>
    <%= "「1日ワンフレーズ」で始めるシンプル英語日記（ミニブログ）→詳細はこちらをクリック" %>
    <% end %>
  </div>
</div>
<% end %>