<%# アカウント登録へのリンク %>
<% unless signed_in? %> 
<div class="row-fluid">
  <div class="alert alert-info span6" >
    <%= link_to new_user_registration_path do %>
    <i class="icon-book "></i>
    <%= "日本最大級の英語フレーズ辞典を一緒に作ってみませんか? " %>
    <% end %>
  </div>
</div>
<% end %>