<% unless signed_in? %> 
  <p>&nbsp;</p>
  <p>当サイトは<a title="『来る者拒まず、去る者追わず』の英語フレーズはこちら" href="/phrases/195" rel="nofollow"><b>「来るもの拒まず、去る者追わず」</a></b>です。<br />興味があれば気軽にどうぞ⬇</p>
  <%= render 'shared/signup_link' %>
  <p>&nbsp;</p>
  <%= link_to guide_path, { title:"1回1フレーズを書くだけのシンプルなミニ英語ブログ", rel:"nofollow" } do %>
  <%= "ご利用ガイドを読む→ワンフレーズで始めるミニ英語ブログ『Phrasee』とは？" %>
  <% end %>
<% end %>