<% unless signed_in? %> 
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <%= render 'shared/signup_link' %>
  <%= link_to guide_path, title:"1回1フレーズを書くだけのシンプルなミニ英語ブログ" do %>
  <%= "ご利用ガイドを読む→ワンフレーズで始めるミニ英語ブログ『Phrasee』とは？" %>
  <% end %>
<% end %>