<% provide(:title, "英語・英会話フレーズ|Phrasee|免責事項") %>
<div class="container">

  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
    <li class="active">免責事項</li>
  </ol>

  <!-- page header -->
  <div class="page-header">
    <h3>免責事項</h3>
  </div>

  <div class="container">
    <% @lines.each do |line| %>
    <dl>
      <dt><%= line.first %></dt>
      <dd><%= line.last %></dd>
    </dl>
    <% end %>
  </div>

  <p>&nbsp;</p>
  <p><%= link_to "トップページへ", root_path %></p>
</div>