<div class="container">

  <!-- page header -->
  <div class="page-header">
    <h3>ヘルプ</h3>
  </div>

  <div class="container">
    <legend>FAQ</legend>
    <dl>
      <dt>Phraseeって何？</dt>
      <dd><%= link_to "Phraseeとは？", guide_path %>をご覧ください。</dd>
    </dl>

    <dl>
      <dt>お金かかるの？</dt>
      <dd>無料でご利用いただけます。<span>（インターネット接続自体にかかる費用はご利用者様の負担となります。）</span></dd>
    </dl>

    <legend>使い方</legend>
    <dl>
      <dt>フレーズをのせる（投稿する）方法</dt>
      <dd>
        <ol>
          <li>画面右上端の <a class="btn btn-success" href=<%= new_phrase_path %> >フレーズをのせる</a> ボタンをクリックする</li>
          <li>aa</li>
          <li>aa</li>
          <li></li>
          <li></li>
        </ol>
      </dd>
    </dl>

    <dl>
      <dt>フレーズをさがす方法</dt>
      <dd>
      </dd>
    </dl>

    <dl>
      <dt>フレーズをあつめる（記録する）方法</dt>
      <dd>
      </dd>
    </dl>

  </div>
</div>