<div class="container">

  <!-- page header -->
  <div class="page-header">
    <h3>ヘルプ</h3>
  </div>


  <div class="container">
    <dl>
      <dt>お金かかるの？</dt>
      <dd>無料でご利用いただけます。<span>（インターネット接続自体にかかる費用はご利用者様の負担となります。）</span></dd>
    </dl>

    <dl>
      <dt>どうやって使うの？</dt>
      <dd><%= link_to "ご利用ガイド", guide_path %>をご覧ください。</dd>
    </dl>

    <dl>
      <dt></dt>
      <dd>
      </dd>
    </dl>

    <dl>
      <dt></dt>
      <dd>
      </dd>
    </dl>

    <dl>
      <dt></dt>
      <dd>
      </dd>
    </dl>


    <dl>
      <dt></dt>
      <dd>
      </dd>
    </dl>

  </div>
</div>