<% provide(:title, "プライバシーポリシー | ワンフレーズで始めるミニ英語ブログ『Phrasee』") %>
<div class="container">

  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
    <li class="active">プライバシーポリシー</li>
  </ol>

  <!-- page header -->
  <div class="page-header">
    <h3>プライバシーポリシー</h3>
  </div>

  <div class="container">
    <dl>
      <dt>個人情報について</dt>
      <dd>
        <span>当サイトにおける個人情報とは、「氏名」「メールアドレス」などの特定の個人を識別することができる情報をいいます。</span>
      </dd>
    </dl>

    <dl>
      <dt>個人情報の使用目的の範囲</dt>
      <dd>
        <span>ご利用者様からいただいた個人情報は、以下に定める目的のために利用いたします。</span>
      </dd>
      <dd>
        <ul>
          <li>当サイト利用者との連絡</li>
          <li>当サイト利用者からのお問い合わせへの回答</li>
          <li>当サイト利用者からのお問い合わせへの質問等</li>
          <li>当サイトのサービス改善</li>
          <li>当サイトおよび広告主が利用するマーケティングデータ</li>
        </ul>
      </dd>
    </dl>
      
    <dl>
      <dt>cookieについて</dt>
      <dd>
        <span>当サイトは、アクセスの統計・分析を行ったり、 サービスの利便性を高めるために、クッキーを利用しています。</span>
      </dd>
    </dl>

    <dl>
      <dt>他社サービスについて</dt>
      <dd>
        <p>当サイトでは、以下の他社サービスを利用しています。</p>
        <ul>
          <li>GoogleAnalytics・・・アクセス履歴の統計を取る機能（管理者専用）</li>
        </ul>
        <p>これら他社サービスにおけるプライバシー・ポリシーは、そのサービスを提供する企業のものに準じます。</p>
      </dd>
    </dl>   
  </div>

  <p>&nbsp;</p>
  <%= render 'shared/top-page_link' %>
</div>