<% provide(:title, "利用規約 | ワンフレーズで始めるミニ英語ブログ『Phrasee』") %>
<div class="container">

  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
    <li class="active">利用規約</li>
  </ol>

  <!-- page header -->
  <div class="page-header">
    <h3>利用規約</h3>
  </div>

  <div class="container">
    <dl>
      <dt>第１条 定義</dt>
      <dd>本規約において、以下の各号に掲げる用語は、当該各号に定める意味に用いられるものとします。</dd>
      <dd>
        <ol>
          <li>「当サイト」<br />phrasee.jpが提供するインターネット上の情報提供サイト「フレージー」（http://www.phrasee.jp/）をいいます。</li>
          <li> 「ユーザー」<br />当サイトにアクセスし、当サイト上で掲載・提供される各種情報等を閲覧、利用等する個々のユーザーをいいます。</li>
          <li> 「広告主」<br />当サイトとの契約に基づき、当サイト上に広告情報等を掲載する法人その他の事業者をいいます。</li>
          <li> 「掲載情報」<br />当サイトに掲載される各種情報・当サイトに関する各種情報の総称をいいます。</li>
        </ol>
      </dd>
    </dl>

    <dl>
      <dt>第２条 規約への同意</dt>
      <dd>
      <p>ユーザーは、本規約に同意される場合にのみ、掲載情報を閲覧し、必要な情報等を利用することができます。</p>
      <p>かかる閲覧・利用を開始された場合、本規約に同意されたものとみなします。</p>
      </dd>
    </dl>

    <dl>
      <dt>第３条 コンテンツの取り扱い</dt>
      <dd>
        <ol>
          <li>当サイトはユーザーに対し、投稿内容を本ページに掲載・保存する義務を負いません。</li>
          <li>当サイトは、当サイトの判断により、ユーザーに通知することなく、当該投稿内容の削除、編集その他の対処をすることができるものとします。</li>
          <li>ユーザーが投稿したコンテンツについては、ユーザーまたは当該コンテンツの著作権者に著作権が帰属します。当該コンテンツについて、ユーザーは当サイトに対して、日本の国内外で無償かつ非独占的に利用（複製、上映、公衆送信、展示、頒布、譲渡、貸与、翻訳、翻案、出版を含みます）する権利を期限の定めなく許諾したものとみなします。なお、ユーザーは著作者人格権を行使しないものとします。</li>
        </ol>
      </dd>
    </dl>

    <dl>
      <dt>第４条 免責</dt>
      <dd>
        <ol>
          <% @lines.each do |line| %>
          <li><%= line.last %></li>
          <% end %>
        </ol>
      </dd>
    </dl>

    <dl>
      <dt>第５条 禁止事項</dt>
      <dd>
      ユーザーは、次に定める行為をすることはできません。</dd>
      <dd>
        <ol>
          <li> 掲載情報を営利目的で利用すること。</li>
          <li> 当サイト上で、また掲載情報に関し、法律、命令、処分、その他の規制に違反する行為を行うこと。</li>
          <li> 当サイト上で犯罪行為を惹起または助長する行為その他犯罪行為に結びつく行為を行うこと。</li>
          <li> 当サイト上で猥褻図画・文章に該当するものを掲載する行為を行うこと。</li>
          <li> 当サイト上で、また掲載情報に関し、広告主または第三者が有する著作権、商標権、肖像権、プライバシーその他の権利・利益を侵害する行為を行うこと。</li>
          <li> 当サイトに有害なコンピュータープログラム等を送信または書き込む行為を行うこと。</li>
          <li> 当サイト上で当サイト、広告主または第三者を誹謗中傷し、もしくはその名誉、信用を害する行為を行うこと。</li>
          <li> 当サイト上で虚偽情報、事実誤認を生じさせる情報等を掲載・送信する行為を行うこと。</li>
          <li> 当サイト上で選挙の事前運動、選挙運動またはこれらに類似する行為および公職選挙法に抵触する行為を行うこと。</li>
          <li> 当サイト上で上記各号の他、公序良俗に反する行為を行うこと。</li>
        </ol>
      </dd>
    </dl>

    <dl>
      <dt>第６条 リンク</dt>
      <dd>当サイトはリンクフリーです。</dd>
    </dl>

    <dl>
      <dt>第７条 著作権</dt>
      <dd>当サイトの掲載情報に関する特許権、商標権、著作権その他の知的財産権は、すべて当サイト、広告主その他の権利者に帰属します。</dd>
      <dd>ユーザーは、当サイト上で明示されている場合を除き、掲載情報およびこれに関する知的財産権を無断で実施、使用、複製、転載または改変その他の利用をしてはならないものとします。</dd>
    </dl>

    <dl>
      <dt>第８条 規約の変更</dt>
      <dd>管理運営上必要な場合には、予告なくこの規約を変更することがあります。</dd>
    </dl>
    2013年2月 制訂・施行
  </div>

  <p>&nbsp;</p>
  <%= render 'shared/top-page_link' %>
</div>