      /***** only for Phrasee *****/

      /** alert, notice **/
      div.alert {
        margin:10px auto;
      }

      /** logo **/
      .logo-icon{

      }

      /** body **/

      .body_container {
        padding-top: 20px; // navbarからの距離
      }

      // ページヘッダー キャッチコピー
      .page-header h1 {
        //font-family: 'Courier New', Courier, monospace;
        //font: normal normal normal 12px/16px "Helvetica Neue",Arial,sans-serif!important;
        font-size: 21px;
      }

      // カテゴリー名 リンク文字の色
      @mixin category-name-color {
        color: #8B4513;
      }

      // wellの加工用（引数で背景色変更可）
      @mixin well-box($box-bg-color: #fefefe) {
        background-color: $box-bg-color; // デフォルトは白
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.30)!important;
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.30)!important;
        -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.30)!important;
        -o-box-shadow: 0 1px 3px rgba(0,0,0,0.30)!important;
        box-shadow: 0 1px 3px rgba(0,0,0,0.30)!important;
        border-radius: 3px;
        border: 1px;
      }

      // wellの見た目をキャンセル #レイアウト調整能力だけほしいときに使う
      @mixin well-cancel-color {
        background-color: #fff; // 背景色
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
        border-radius: none;
        border: none;
      }

      // Home#show.html.erb用 もう使わない？
      .phrase_container {
        //background-color: #fffafb;    
        @include well-box;
      }

      // 取り消し線
      .learned {
        text-decoration:line-through;
        color:#C71585;
      }