      /***** only for Phrasee *****/

      /** alert, notice **/
      div.alert {
        margin:10px auto;
      }

      /** logo **/
      .logo-icon{

      }

      /** body **/

      .body_container {
        padding-top: 20px; // navbarからの距離
      }

      // ページヘッダー キャッチコピー
      .page-header h1, .page-header h2 {
        //font-family: 'Courier New', Courier, monospace;
        //font: normal normal normal 12px/16px "Helvetica Neue",Arial,sans-serif!important;
        font-size: 21px;
      }


      /* メインタイトル */
      @media (min-width: 1150px) {
        .main-title {
          img {
            margin-bottom:7px;
          }
          span {
            font-size: 21px;
            font-weight:bold;
          }
        }
      }

      @media (min-width: 481px) and (max-width: 1149px) {

        .main-title {
          img {
            margin-bottom:7px;
          }
          span {
            font-size: 18px;
            font-weight:bold;
          }
        }
      }
       
      /* Landscape phones and down */
      @media (max-width: 480px) {

        .main-title {
          img {
            margin-bottom:7px;
          }
          span {
            font-size: 14px;
            font-weight:bold;
          }
        }
      }


      //サブタイトル
      .sub_title {
        font-size:14px;
      }

      // リンク下線
      a.underline {
        text-decoration:underline;
        //color:#555;
      }

      // 各フレーズの先頭に付くアイコン画像
      ol.ph_user_icon {
        margin:2px 0px 5px -30px;
      }


      // ボタン色
      .btn-pink  {
        background-color: hsl(0, 100%, 82%) !important;
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fecccc", endColorstr="#fea3a3");
        background-image: -khtml-gradient(linear, left top, left bottom, from(#fecccc), to(#fea3a3));
        background-image: -moz-linear-gradient(top, #fecccc, #fea3a3);
        background-image: -ms-linear-gradient(top, #fecccc, #fea3a3);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fecccc), color-stop(100%, #fea3a3));
        background-image: -webkit-linear-gradient(top, #fecccc, #fea3a3);
        background-image: -o-linear-gradient(top, #fecccc, #fea3a3);
        background-image: linear-gradient(#fecccc, #fea3a3);
        border-color: #fea3a3 #fea3a3 hsl(0, 100%, 80%);
        color: #333 !important;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.13);
        -webkit-font-smoothing: antialiased;
      }
      // ボタン内テキスト
      .btn-pink span {
        color: #fff;
        text-shadow: 1px 1px 1px #FFB6C1;
      }

      // カテゴリー名 リンク文字の色
      @mixin category-name-color {
        color: #8B4513;
      }

      // wellの加工用（引数で背景色変更可）
      @mixin well-box($box-bg-color: #fefefe) {
        background-color: $box-bg-color; // デフォルトは白
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.30)!important;
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.30)!important;
        -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.30)!important;
        -o-box-shadow: 0 1px 3px rgba(0,0,0,0.30)!important;
        box-shadow: 0 1px 3px rgba(0,0,0,0.30)!important;
        border-radius: 3px;
        border: 1px;
      }

      // wellの見た目をキャンセル #レイアウト調整能力だけほしいときに使う
      @mixin well-cancel-color {
        background-color: #fff; // 背景色
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
        border-radius: none;
        border: none;
      }

      // Home#show.html.erb用 もう使わない？
      .phrase_container {
        //background-color: #fffafb;    
        @include well-box;
      }

      // 取り消し線
      .learned {
        text-decoration:line-through;
        color:#C71585;
      }