// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "custom";

.ph_phrase_box { 
  /* 以下いずれかをコメントインして使う */
  @include well-box; // wellの背景色を変える（デフォルト白）＋立体っぽく表示
  //@include well-cancel-color; // 背景色を白に＋枠線取り去る
  /***/
  height:auto;

  // レスポンシブ対応
  @media (min-width: 768px) and (max-width: 920px) {
    //min-height: 280px; // 各カテゴリーのboxの高さを統一するため
    li{ font-size: 16px; }
  }
}

.ph_category {
  font-size: 26px;
}

.ph_category_link {
  @include category-name-color;
}

.ph-row {

}

.ph_phrase_item {
  font-size: 20px;
  padding: 5px 0;
}
.ph_last_item {
  font-size: 15px;
  margin: 9px 0;
}
