// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ph_phrase_box {
  margin: 30px 0px;
  background-color: #FFFFFF;
}

.ph_category {
  font-size: 30px;
}

.ph_category_link {
  color: #8B4513;
}

.ph_phrase_item {
  font-size: 20px;
  padding: 5px 0;
}
.ph_last_item {
  font-size: 15px;
  margin: 9px 0;
}