// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ph_phrase_box {
  margin: 10px 0px;
  background-color: #FFFFFF;

  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.30)!important;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.30)!important;
  -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.30)!important;
  -o-box-shadow: 0 1px 3px rgba(0,0,0,0.30)!important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.30)!important;
  border-radius: 3px;
  border: 1px;

}

.ph_category {
  font-size: 26px;
}

.ph_category_link {
  color: #8B4513;
}

.ph_phrase_item {
  font-size: 20px;
  padding: 5px 0;
}
.ph_last_item {
  font-size: 15px;
  margin: 9px 0;
}