@import "custom";


.show_phrase_container {
  @include well-box(#FFFAF0);
}

.index_phrase_container {
  @include well-box(#eee);
}

.flash_msg {
  margin: 3px auto;
}


/* Large desktop */
@media (min-width: 1200px) {  }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  h1 {
      font-size: 28px;
      margin: 3px auto;
  }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  h1 {
      font-size: 21px;
      margin: 1px auto;
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
}