@import "custom";


.show_phrase_container {
  @include well-box(#FFFAF0);
  .title_phrase a{
    color: #000;
  }
}

.index_phrase_container {
  @include well-box(#eee);
}

.flash_msg {
  margin: 3px auto;
}

div.social-buttons-phrase {
  padding-top:2px;
  padding-bottom:9px;
}

// コメント欄
.comment_for_phrase {
  width: 500px;
}

/* Large desktop */
@media (min-width: 1200px) {  }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}
 
/* Landscape phones and down */
@media (max-width: 480px) {


  // コメント欄
  .comment_for_phrase {
    width: 100%;
  }
}

// pv数ボックス
.pv_container {
  margin:0 0 10px 5px;
  color : red;
  width:55px;
  text-align:center;
  font-size : 12px;
  background-color:#FFE4E1;
  border-style : solid ;
  border-color : #FFE4E0;
  border-width : 1px;
  padding:1px 5px;
}

// pv数ボックス（トップページ用）
.pv_container_at_toppage {
  @pv_container
}

.gray_color {
  color:#777;
}