@import "custom";

.service_body {
  //text-align: center;
  vertical-align:top;
  text-align:left;
  width:98%;
}

.catchy_image {
  text-align: center;
  @include well-box(#fefefe);
}

.service_thumbnail {
  text-align: center;
}