@import "custom";

/* 共通 */ 
.main_content_container {
  @include well-box;
}


.service_body {
  //text-align: center;
  vertical-align:top;
  text-align:left;
  width:98%;
}

/* 利用ガイド */
.catchy_image {
  text-align: center;
  @include well-box(#fefefe);
}

.service_thumbnail {
  text-align: center;
}
