@import "custom";

/* 共通 */ 
.main_content_container {
  @include well-box;
}

.service_body {
  //vertical-align:top;
  width:98%;
}

/* 利用ガイド */
.container_center {
  text-align: center;
  max-width: 1000px;
}

.can_do_things {
  margin-bottom: 35px;
}
.description_title {
  @include well-cancel-color;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .thumbnail {
      //max-width: 310px;
  }
}