@import "custom";


/* プロフィール（公開情報） */
  .ph_profile_container {

    // well調整用
    .ph_well-box { 
      @include well-box; // wellの背景色を変える（デフォルト白）＋立体っぽく表示
    }
    .ph_well-cancel-color { 
      @include well-cancel-color;
    }
    

    max-width: 100%;
    margin:auto 0;

   .ph_status {
      text-align:center;
    }

    legend {
      text-align: center;
    }
    .ph_pr_account {
      text-align: center;
    }
    .ph_pr_img {
      text-align: center;
    }
    .ph_pr_msg {
      text-align: center;
    }
    .ph_status {
      text-align: center;
    }

    // レスポンシブ対応：ある程度横幅がある画面のときは余白多めに

    /* Portrait tablet to landscape and desktop */
    @media (min-width: 970px) {

      .ph_pr_img {
        //margin: 0 30px;
      }
      .ph_pr_msg {
        //margin: 0 35px;
      }
     .ph_status {
        //margin: 0 30px;
      }
    }

    @media (min-width: 540px) and (max-width: 709px) {

    }

    @media (min-width: 481px) {
      .ph_pr_img {
        margin: 0 30px;
      }
      .ph_pr_msg {
        margin: 0 35px;
      }
     .ph_status {
        margin: 0 30px;
      }
    }

    @media (max-width: 480px) {
     .ph_status {
        margin: 0 2px;
        padding: 2px 2px;
        li {
          font-size: 16px;
        }
      }
    }
  }


/* 右側 */
.ph_book_right {

}

// お気に入りした人の数
.fav-users-num {
  color : red;
  font-size : 12px;
  background-color:#FFE4E1;
  border-style : solid ;
  border-color : red;
  border-width : 1px;
  padding:1px 5px;
}

/* アカウント設定（非公開） */
.form_container {
  max-width: 600px;
  .form-actions {
    max-width: 320px;
  }
}