<% provide(:title, @category.category_name) %>

  <!-- page header -->
  <div class="page-header">
    <h1><span class="ph_category_name"><%= @category.category_name %></span></h1>
  </div>

<ul class="ph_caetgories_list">
  <% @phrases.each do |phrase| %>
    <li class="ph_phrase_item"><%= link_to phrase.japanese, phrase_path(phrase.id) %></li>
  <% end %>
</ul>
