<p>Phraseeへようこそ！</p>
<p>&nbsp;</p>
<p>以下のリンクをクリックして、本人確認手続きを完了してください。</p>
<p>&nbsp;</p>
<p><%= link_to '本人確認をする（クリックしてください）', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
<p>※このメールに心当たりがない場合は、お手数ですがメールを破棄してください。</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>
------------------------------------------------------------------<br>
&nbsp;&nbsp;みんなでつくる英語フレーズ集『Phrasee』<br>
------------------------------------------------------------------<br>
</p>