<p>[Phrasee]パスワード再設定手続きについて</p>
<p>以下のリンクをクリックして、パスワード再設定手続きを行ってください。</p>
<p><%= link_to 'パスワード再設定手続きをする（クリックしてください）', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
<p>※このメールに心当たりがない場合は、お手数ですがメールを破棄してください。</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>
------------------------------------------------------------------<br>
&nbsp;&nbsp;みんなでつくる英語フレーズ集『Phrasee』<br>
------------------------------------------------------------------<br>
</p>
<%= @resource %>
