<p>[Phrasee]アカウントロック解除手続きについて</p>
<p>ログイン回数が上限を超えたため、あなたのアカウントをロックしました。</p>
<p>以下のリンクをクリックすると、ロック解除手続きができます。</p>
<p><%= link_to 'ロックを解除する（クリックしてください）', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
<p>※このメールに心当たりがない場合は、お手数ですがメールを破棄してください。</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>
------------------------------------------------------------------<br>
&nbsp;&nbsp;みんなでつくる英語フレーズ集『Phrasee』<br>
------------------------------------------------------------------<br>
</p>
<%= @resource %>
